setuptools
# Hadron foundation
aistac-foundation
# Data Science packages
pandas
numpy
scikit-learn
matplotlib
seaborn
scipy
# structure packages
requests
pyarrow
pyyaml
# S3 packages
boto3
botocore
fsspec
s3fs
# others


